table {
     margin: 5px;;
     padding-left: 10px;
    width:40%;
    overflow:hidden;
    background-color:var(--white);
    /* border-radius:10px; */
    position:relative;
    border-collapse:collapse;
    /* z-index:1; */
    color:var(--gray);}
    .tables {
        padding: 20px;
        padding-left: 30px;
    }
  th, td {
    border: 1px solid grey;
    padding: 8px;
    text-align: center;
  }

  th:first-child, td:first-child {
    border-right:1px solid grey; /* Vertical divider between the first column and the rest */
  }