{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="we-are-block">

    <div id="about-us-section">
  
      <div class="about-us-image">
  
        <img src="https://cdn.vectorstock.com/i/500p/33/91/children-save-planet-globalization-globe-earth-vector-41493391.avif" width="808" height="458" alt="Lobby Image">
  
      </div>
  
      <div class="about-us-info">
  
        <h2>Corbig Motors </h2>
  
        <p>Corbig Motors, located in Gwarko, Lalitpur, is dedicated to promoting a sustainable future by offering a wide range of electric bikes and scooters. Our mission is to contribute to saving the earth by providing eco-friendly transportation solutions. Join us in our journey to create a cleaner, greener world, one ride at a time.</p>
  
        <a href="#" title="About Us Button">ABOUT US</a>
  
      </div>
  
    </div>
  
    <div id="history-section">
  
      <div class="history-image">
  
        <img src="https://cdn.vectorstock.com/i/500p/21/69/gas-fuel-vs-ev-plug-charg-vector-43412169.avif" width="951" height="471" alt="Building Pic">
  
      </div>
  
      <div class="history-info">
  
        <h2>Replacing Petrol with Electricity</h2>
  
        <p>Since our inception, we have focused on providing electric bikes and scooters as a clean alternative to traditional fuel-powered vehicles.</p>
  
        <a href="/" title="History Button">Back Home</a>
  
      </div>
  
    </div>
  
  </div>
  {% endblock %}