{% extends 'base.html' %} 
{% load static %}
{%block content%}
<div class="container">
    <div class="container__left">
      <h1>Enjoy Your Ride</h1>
      <div class="container__btn">
        <button class="btn"> View</button>
      </div>
    </div>
    <div class="container__right">
      <div class="images">
        <img src="{% static 'img/bike1.jpg' %}" alt="tent-1" class="tent-1" />
        <img src="{% static 'img/bike2.jpg' %}" alt="tent-2" class="tent-2" />
      </div>
      <div class="content">
        <h4>Bikes | Scooters</h4>
        <h2>Super Soco Electric Bikes & Scooters</h2>
        <h3>Revolutionize Your Ride</h3>
        <p>
            Experience the future of transportation with Super Soco’s innovative range of electric bikes and scooters. Designed for efficiency and style, our selection combines cutting-edge technology with sleek designs to provide a smooth and eco-friendly ride.
        </p>
      </div>
    </div>
    <div class="location">
        <a href="https://www.google.com/maps/search/Corbig+Motors+Lalitpur" target="_blank" rel="noopener noreferrer">
            <span><i class="ri-map-pin-2-fill"></i></span>
            OUR LOCATION
        </a>
    </div>
    
    <div class="socials">
      <span>
        <a href="https://www.facebook.com/profile.php?id=100093164697533&mibextid=LQQJ4d"><i class="ri-facebook-fill"></i></a>
      </span>
      <span>
        <a href="https://www.instagram.com/corbig_motors?igsh=dHRldTlwb20zbGsx"><i class="ri-instagram-line"></i></a>
      </span>
      
    </div>
  </div>
  {% endblock %}
